[2014-08-07 06:44] doublehelix opened #1 "OS_Windows functions are all declared "private""
After determining the operating system, Linfo creates a parser with the class name `OS_[operatingsystem]`.
It then tries to execute all of the methods that are available for that OS parser by looping through the method names and calling `method_exists()` to determine if the function is supported. if `method_exists()` returns true, the method is called.

Unfortunately, `method_exists()` returns tru

[2014-08-07 21:46] #1 closed, assigned to nobody

[2014-11-20 16:15] SimaWB opened #2 "Method getOS not present."
I installed Linfo to Windows 7 Pro. When I test, I've got error like: "Method getOS not present. "
Any idea?

[2014-11-21 12:44] SimaWB opened #3 "Accessed IP"
With <b>local server</b> on Windows with IIS (I use 7.5);
Accessed IP returns Unknown. Because of <b> $_SERVER['SERVER_ADDR']</b>

So I use

[code]

instead of

[code]

in <b>class.LinfoOutput.php</b> file.

[2014-11-21 16:16] #2 closed, assigned to nobody

[2014-12-24 06:01] #3 closed, assigned to nobody

[2015-01-19 03:44] lrussell887 opened #4 "Undefined index"
Hello,
I've been using Linfo for a while now and it seems to be cluttering my server log with a little error (on every page load):
`2015-01-19 03:40:04: (mod_fastcgi.c.2676) FastCGI-stderr: PHP Notice:  Undefined index: hw in /var/www/default/lib/class.HW_IDS.php on line 281`

I'm using Lighttpd on a Raspberry Pi with FastCGI for PHP.
Thanks!

[2015-01-19 06:15] jrgp commented on #4
Will get this fixed within a day or so

[2015-01-19 11:48] jrgp commented on #4
@lrussell887 can you please run git pull and see if this commit https://github.com/jrgp/linfo/commit/2dfe45e2753259eb75da46b8e81430b53161a98c fixes it?

[2015-01-19 15:18] lrussell887 commented on #4
Yep, that seems to have fixed it. Thanks!

[2015-01-19 15:18] #4 closed

[2015-02-09 05:50] kamijoutouma commented on #3
@jrgp just recently noticed when doing `?out=xml` the ip is there it also might be doing the same on other output methods

[2015-02-09 10:15] jrgp commented on #3
Run git pull. This should fix it https://github.com/jrgp/linfo/commit/e04a6a826f80b5af1e2a31a529d98145eca7d037

[2015-05-12 20:35] gemal opened #11 "Empty needle in class.OS_Linux.php"
Warning: strpos(): Empty needle in /linfo/lib/class.OS_Linux.php on line 1513

[2015-05-12 20:36] gemal opened #12 "Division by zero in class.LinfoOutput.php"
Warning: Division by zero in /linfo/lib/class.LinfoOutput.php on line 366

Swap 	0 B 	0 B 	0 B 	0%

[2015-05-26 06:50] jrgp commented on #12
@gemal  can you please try reproducing this on the latest linfo master branch?

[2015-05-26 06:50] #12 closed

[2015-05-26 06:51] jrgp commented on #11
@gemal  can you please try reproducing this? It might be fixed.

[2015-05-26 06:51] #11 closed

[2015-06-03 17:49] Gummibeer opened #14 "wrong CPU-Load under Windows Multi-Core"
I watched the results from Linfo and from the Windows-Ressourcemonitor a while and there are great differences between them.

The Linfo Result is just the first Core (it's an 8 Core Intel) this Core is permanent between 50-70% - this is the Linfo result. But the whole CPU-Load in average is 30-40%. With an 8 times 3.7 GHz this is great difference and my live tracker for system health is nearly use

[2015-06-03 18:22] Gummibeer commented on #14
Ok, I debuged a bit and the error is in the result from the COM Class itself. It just returns 1 integer and not 8 like the documentation says.
I will look around to find a solution.

[2015-06-04 07:41] jrgp commented on #14
Thanks for looking into this. Also it might help if you look at the source to the COM module to see how it works.

I can't really speak for windows as I don't know much about it but on Unix, determining cpu load is an extremely complex operation comprised of adding together/averaging a bunch of values within a few seconds; it wouldn't surprise me of doing it properly on windows was as arduous. Loo

[2015-06-04 07:59] Gummibeer commented on #14
The function for windows looks right but the error is that the result from the COM-Query is an Array with one single child. The for each just runs once and that's why it's the wrong (just the first core) result.

I looked into the COM-Class docu and the docu tells it a bit hidden:

https://msdn.microsoft.com/en-us/library/aa394373(v=vs.85).aspx

It's just the load average _for each processor_ not

[2015-06-04 08:16] Gummibeer commented on #14
Ok, it's the *** windows *** they have to localize every command ... so the system cmd command should be:
german: ```typeperf -sc 1 "\Prozessor(_Total)\Prozessorzeit (%)"````
english: ```typeperf -sc 1 "\processor(_total)\% processor time"````

don't tested it with php system() but i don't think that you haven't to localize this command in php. so the system language is important and it would be a

[2015-06-04 09:45] jrgp commented on #14
That language thing seems like a horrible pain in the ass. With regards to calling external programs: if there isn't any other way of doing it, try to do it in the same way that the BSD and SUN classes do it.

[2015-06-04 09:52] Gummibeer commented on #14
This is my function to test this command:

[code]

without any language settings yet. It works for me but without the help of the users they wan't this precise functionality this won't work for this class. The way I process the output is horrible but it works and just have to do it's job for the moment.

[2015-06-04 09:57] jrgp commented on #14
It's damn depressing that they use language specific names per each key. Does the value always look unique-ish such that you could just regex match it? I don't have a windows installation available for me to readily test this.

Also please use the CallExt class rather than raw exec() as I prefer to have the external command executions abstracted away (if you intend on making a merge request/etc)

[2015-06-04 10:00] Gummibeer commented on #14
Yeah, the output is always the same. Ok, I will have a look for this class - I combine these functions and will test it for german - english should work cause this was my start language. But I can't implement other languages.

I will post the result of my work here cause I just loaded your library with composer.

[2015-06-04 10:35] Gummibeer commented on #14
[code]

I'm sorry but with your CallExt class I got an error from ```throw new CallExtException('Exec `'.$name.'\' not found');``` cause I don't know witch path I have to set. If you find it out you can replace it.
The setting have to paste into your default settings file ```$settings['precise_cpu'] = false;``` you can rename it if you want it in any array or wan't a better name.

I hope that this

[2015-06-04 11:37] jrgp commented on #14
CallExt probably isn't as appropriate here as it is on unix. That code snippet does seem pretty helpful. It'd incorporate it almost verbatim once we find a way around the language thing, which bothers me, as Linfo is supposed to just work out of the box no questions asked and not everyone uses en/de

[2015-06-04 15:06] Gummibeer commented on #14
One possibility to detect it automaticly scould be the ```HTTP_ACCEPT_LANGUAGE``` (my result: de-DE,de;q=0.8,en-US;q=0.6,en;q=0.4) but I don't know how reliable this is. I will search more for a solution without a user setting.

[2015-06-05 13:06] jrgp commented on #14
I think that http header is the preferred language of the clients web browser and that might not match that of the windows server.

That reg command may work but do we really want a php script directly reading the php registry? Lol

I'm convinced there's a language agnostic way of getting the key but because it's windows I'm sure finding out how will be arduous.

[2015-06-05 15:09] Gummibeer commented on #14
Yeah, all these solutions aren't good solutions - just the first I found.^^

And yeah, getting systeminformations from windows without going into the system itself isn't easy. I'm wondering why the ```sys_getloadavg()``` won't work under windows.

[2015-06-05 15:11] Gummibeer commented on #14
The good thing for security: in none of these exec commands and things like this we will use variable user input - just fixed commands. So the abuse chance is nearly zero - and with the COM class activated the library isn't shared host compatible (if the shared host runs windows).

[2015-06-05 16:29] jrgp commented on #14
Regarding fixed commands: exactly. The reason why I consider linfo in general secure is that it doesn't take in user input at all.

I just looked at the php.net page for sys_getloadavg, it says it isn't implemented under Windows. Probably because there isn't a meaningful equivalent value to unix's system load.

[2015-07-18 21:26] Keeo opened #15 "Output line from /proc/stat as a solution to sleep()"
I was thinking about realtime cpu usage in percents and I think that Linfo should provide pure values from `/proc/stat` instead of trying to make percents.

Linfo is fast, designed to be called once per second. So why don't move responsibility of making cpu usage in percentage to program that uses it? That program would have already values from last call so it would not need to wait. Moreover libr

[2015-07-19 17:37] jrgp commented on #15
Pull request please.

Sent from my iPhone

[2015-07-29 13:11] Fro99666 commented on #15
i've checked, the sleep is set to 1 millisec, and it has to be set to have /proc stat refreshed (each milli sec) to get cpu %.
i didn't found another way to get cpu % with pure php, there s solution using exec command, but i dunno if it will do a gain or loss of performances.
The posted solution, will draw numbers that can't be undertood by users.

[2015-08-31 14:38] kamijoutouma opened #18 "Nice 500 error after updating linfo"
```2015/08/31 14:35:32 [error] 17565#0: *116779 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Can't use function return value in write context in /home/touma/webserver/linfo/lib/class.OS_Linux.php on line 1513" while reading response header from upstream, client: ::ffff:0.0.0.0, server: stats.ilp.moe, request: "GET / HTTP/1.1", upstream: "fastcgi://unix:/var/run/php5-fpm.sock:", host: "s

[2015-09-01 07:20] jrgp commented on #18
This happened to me today too, on an older version of PHP. I'll make a fix commit soon.

[2015-09-01 10:48] jrgp commented on #18
Should be fixed. Do a ```git pull``` and you should be golden.

[2015-09-01 10:48] #18 closed

[2015-09-01 15:22] kamijoutouma commented on #18
thank you +1

[2015-09-09 08:32] Gummibeer opened #19 "Output without echo"
It would be really nice if you can add an output type that returns a php array and not echo everything. I would implement this in a Laravel5 package and found a workaround to get the data in php but it's not the nice way.
It would be better if I can call something like:

[code]

[2015-09-09 08:41] jrgp commented on #19
I think $linfo->getInfo() does what you want.

[2015-09-09 08:52] jrgp commented on #19
I just tried and this does what you'd expect. You can just use the getInfo() method as it returns the php array.

[code]

[code]

[2015-09-09 09:50] Gummibeer commented on #19
Ok, thx :smile:

[2015-09-09 10:06] Gummibeer commented on #19
Ok, I got another problem with your package's structure and requirements.

1) It's not fine that I have to load the init.php myself if I load your package via composer.
2) There have to be a functionality to pass the settings in the constructor - cause it's not, normal way, possible to create a file in the vendor folder (composer).

the first can get solved via:
[code]
and ```define('LINFO_CLI', t

[2015-09-09 10:14] jrgp commented on #19
Yeah this work needs to be done. I'm open to a pull request if you feel up to the challenge.

[2015-09-09 10:30] Gummibeer commented on #19
it's done:  #20

[2015-09-10 02:41] jrgp commented on #19
If you have time, would you be able to edit the readme to include a section on how to use Linfo as a library in composer ?

[2015-09-10 04:04] jrgp commented on #19
@Gummibeer actually I think it'd be better if you would be able to add the "files" array you mentioned earlier to composer.json :)

[2015-09-11 09:23] Gummibeer commented on #19
You mean in your composer.json?
In mine it is ;D

[2015-09-11 09:32] Gummibeer commented on #19
#21

[2015-09-11 13:52] Gummibeer opened #22 "Laravel 5 wrapper for your Linfo Package"
Hey,
I'm working on a Laravel 5 wrapper for your package. If you have wishes or anything else pls tell me:
https://github.com/Gummibeer/laravel-linfo or via email.

It's work in progress yet but I want to provide this god peace of work for the big Laravel community. ;)

[2015-09-11 14:16] Gummibeer commented on #22
And one thing: it would be great if you can make a new version including the new changes - I have to load the dev-master yet and this isn't cool :/

[2015-09-12 03:08] #19 closed

[2015-09-12 03:09] jrgp commented on #22
Hey. Neat idea.

One thing though: why is defining LINFO_CLI needed?

[2015-09-12 07:09] Gummibeer commented on #22
I got an error with the composer autoloader - I think.
I will do it again without and send you the error message.

[2015-09-12 07:17] Gummibeer commented on #22
Oh Yeah - I got it :D
It was the request_uri server var. And it was the laravel way to call classes and the artisan console commands. There are too much ways to get a call without the request_uri.
A check if this exists would be great and I'm not so sure if this is really helpful neccesary!?

And something that costs me much work is the uptime Format. Can you add a simple ```"booted" => 1234567890

[2015-09-12 19:33] jrgp commented on #22
Hey

Would you be able to provide me with the request_uri error? I have an idea where in the code it is coming from but I want to know for sure.

As for the uptime, I'll get to that shortly.

[2015-09-12 20:06] jrgp commented on #22
Just took care of the uptime issue. now instead of "UpTime" being a string with both, it's "UpTime" => "bootedTimestamp" that has the timestamp and "text" which is the uptime string.

https://github.com/jrgp/linfo/commit/56265540789d720b22f798981805ca91d40c4b0b

[2015-09-12 22:07] Gummibeer commented on #22
It's ok - I look everytime at the linfo output I change my code.^^
And yes I will - I thought it was in the init.php but I will send you the exact error.

The Wrapper will provide 3 data sources:
- original: the original linfo output
- attributes: the "normal" laravel array with getters, setters, mutators, accesors and so on
- processed (not sure about naming): a processed array that combines, cal

[2015-09-13 09:11] jrgp commented on #22
Awesome, thanks a lot for your work! What I really want to do is remove the need to define LINFO_CLI in your code, as this makes Linfo far more suitable for use as a general purpose library. Tips to fix this would be appreciated, as would a working example your Linfo wrapper code code being used with Laravel. :)

[2015-09-13 11:53] Gummibeer commented on #22
So, I setuped my PC so it take a bit longer^^ - a praise to git and cloud storage! :D
And it looks like the error removed itself :O - I will have a look again on all components and steps I did - but it looks like I can do it without now. *wondering*

I'm creating a subdomain for this now and will send you the link - the repo for the package is above and I will start to write a bit of readme.
The s

[2015-09-13 14:51] Gummibeer commented on #22
The readme is added and the main part is at the demo site: http://linfo.gummibeer.de
Everything works fine and I will extend the processed array with a bit more informations.

A short message if you have created a new version would be nice.

[2015-09-13 15:19] Gummibeer commented on #22
It would be nice to let this work under the same namespace!? - Can you add my package in your packagist namespace and give me maintainership access?

[2015-09-13 19:01] Gummibeer opened #23 "Clean package"
It would be good to clean this package to it's base - just PHP classes and bring them in a namespace. This supports the development of projects that extend this package and works better with composer (autoload PSR).
The usage examples can get an own repo (linfo/usage what ever).
The namespace also reduces possible conflicts with other classes.

This will be a great change that includes much of ref

[2015-09-14 00:36] jrgp commented on #23
I completely agree. Migrating Linfo to use PHP namespaces and properly adhere to PSR standards is something I've known needs to happen for a while but I've been putting it off. These definitely would warrant a 3.0 release.

The thing that concerns me is that

[2015-09-14 05:54] Gummibeer commented on #23
That!?^^

[2015-09-14 05:58] jrgp commented on #23
Meant to say (before i got distracted) dropping support for php installed from the repos that come with rhel5 and rhel6 as I think they're extremely old. But most of the installs of Linfo I see from google are on debian and ubuntu so that probably doesnt matter as much.

[2015-09-14 06:24] Gummibeer commented on #23
The Support isn't really droped cause the older systems can use older versions.
But namespaces and psr is nearly required with composer and I think that it is A bit more important to secure the possibility to include this package in Backend Software as a data deliverer/source and not just a data display.

[2015-09-14 08:09] jrgp commented on #23
Those are good points and I agree. I'm going to be pushing a namespaced version of Linfo to a feature branch by tomorrow and we can work on it and get it ready to be merged to master.

[2015-09-14 08:24] Gummibeer commented on #22
Pleas don't forget the work here^^
#23 is a task with a less priority I think.

[2015-09-14 09:16] jrgp commented on #22
I added you as a maintainer of https://packagist.org/packages/linfo/linfo Let me know if that's what you need.

[2015-09-14 09:18] jrgp commented on #22
Here you go https://packagist.org/packages/linfo/laravel

[2015-09-14 09:39] Gummibeer commented on #22
thank you! :) :+1:

[2015-09-14 14:33] Gummibeer commented on #22
Now the package is ready for the first release - the only thing missing is the new version. After this I can make a tag and then I can help you to bring the linfo package into namespaces and PSR.

[2015-09-15 04:44] jrgp commented on #22
I'm roughly 75% done with the namespace'd version of Linfo. I'll have it visible in a few hours. Then you can comment on it.

[2015-09-15 05:47] jrgp commented on #23
Namespaced Linfo: https://github.com/jrgp/linfo/tree/namespaces

Looking forward to your feedback :)

[2015-09-15 08:31] Gummibeer commented on #23
First thing that I struggled is the missing composer autoloader:
https://getcomposer.org/doc/04-schema.md#psr-4
This will replace your `spl_autoload_register()` function and opens the world for every developer that uses composer.

The next thing: with composer it's recommended to wrap your package code into a _src_ folder to make it simpler adding the PSR-4 autoload.

You have also 3 files in the

[2015-09-15 09:09] jrgp commented on #23
I just got psr-4 reload to work (tested it myself) and removed the sublime project file. I don't know where to put the gitttributes and the travis file for them to still work.

Let me know how I can make stuff better from here :)

[2015-09-15 09:19] jrgp commented on #23
Also just released v2.0.3 from master, the last of the v2.x series of Linfo. The new namespaces branch will become v3.x

[2015-09-15 11:24] jrgp commented on #23
I tweaked a ton of things and added a new README.md, this time with a screenshot :)

https://github.com/jrgp/linfo/tree/namespaces xD

[2015-09-15 16:39] Gummibeer commented on #22
Everything is done here

[2015-09-15 16:39] #22 closed

[2015-09-15 16:45] Gummibeer commented on #23
If you need these teo files in Git and not just localy then it's ok. For me they look "useless".
The PSR4 looks good and the readme is also fine! :)

I had no time today so I will check this later and build the first Version of the laravel package with 2.0.3 and after that I can Start to test and implement the v3.

Just for you: you can create v3.0.0-dev/alpha/beta to let other use these with comp

[2015-09-15 17:25] jrgp commented on #23
The travis.yml controls automated unit tests which run as post commit hooks. The gitattributes makes when you make a tagged release, the resulting tarball gives the version in the lower right corner rather than "git"

[2015-09-16 15:13] Gummibeer commented on #23
I have created the first version of the laravel wrapper (without your namespaces) and start at dev branch to include your namespaced branch - it works everything well. :)
If you are ready you can create the version 3.0.0 and then I will realese the next version and after that I can create new features for the package - including some laravel stuff (artisan command(s), a view for the results and so

[2015-09-16 17:25] jrgp commented on #23
There are still one or two things I need to finish up with the namespaces branch before I release it. Hopefully I'll be able to do that in 12 hours or so.

[2015-09-17 09:07] jrgp commented on #23
Took care of a bunch of stuff just now:
- Fixed ncurses support and added NCURSES.md
- Updated README file with screenshot of ncurses
- Merged "namespaces" to master and deleted branch

Will be continuing to tweak bugs as I find them and test out Linfo on multiple platforms before I make the 3.x release. Biggest thing is to make sure it works on Windows... I need to fire up a Windows VM now  :expr

[2015-09-17 10:32] Gummibeer commented on #23
I have a Windows Root for testing. ;) Say me what you want to test/do and I can run it on a real machine. ;)
And I created a little pull-request for your autoloader #24
Are there any constants I have to define if I want to use the Linfo-Class directly?

[2015-09-17 11:40] Gummibeer commented on #23
I have created the first artisan command for the package to get some infos via artisan - the next one will be a check that compares the loads with the critical values of the config and fires an event if they are reached to let the dev use these events for logging, sending emails or what ever he want to do.

[2015-09-17 17:25] jrgp commented on #23
Would you be able to run Linfo on your windows box and provide me with a screenshot? :)

[2015-09-17 21:20] Gummibeer commented on #23
Yes I can - simple call the index, or!?

[2015-09-17 22:42] jrgp commented on #23
Just go to the index.php file and provide a screenshot of the page it displays :)

[2015-09-23 15:30] Fro99666 opened #25 ".htacess on apache 2.4"
Hi,

on apache 2.4 i have the following error in apache logs:
/var/www/info/.htaccess: Regex could not be compiled

to solve the trouble i changed  &lt;FilesMatch "\*"&gt; by &lt;FilesMatch ".\*"&gt;, i don't have any apache2.2 to test if the fix work for both

if you can get an eye, thanks !

[2015-09-23 20:51] jrgp commented on #25
Can you do a git pull? Latest linfo shouldn't have .htaccess files with that directive.

[2015-09-24 10:10] Fro99666 commented on #25
yup, false report then, sorry !

[2015-09-24 10:10] #25 closed

[2015-10-01 09:06] #23 closed

[2015-10-01 09:07] #15 closed

[2015-10-01 09:08] #14 closed

[2015-10-16 16:32] Beaten-Sect0r opened #27 "Warning: usort() expects parameter 2 to be a valid callback, class 'OS_Windows'"
Warning: usort() expects parameter 2 to be a valid callback, class 'OS_Windows' not found in C:\*\src\Linfo\OS\Windows.php on line 278

Warning: usort() expects parameter 2 to be a valid callback, class 'OS_Windows' not found in C:\*\src\Linfo\OS\Windows.php on line 382

Warning: usort() expects parameter 2 to be a valid callback, class 'OS_Windows' not found in C:\*\src\Linfo\OS\Windows.php on li

[2015-10-16 17:14] jrgp commented on #27
Do a git pull from master again; I may have fixed this...

[2015-10-16 17:41] Beaten-Sect0r commented on #27
Warning: usort() expects parameter 2 to be a valid callback, class 'Windows' not found
Linfo\OS\Windows - so works.

[2015-10-17 06:14] jrgp commented on #27
Could you submit a pull request? :3

[2015-10-17 08:45] #27 closed

[2015-10-17 08:47] jrgp commented on #27
Thanks a bunch for the fix. One more thing though. Would you be able to provide me with a screenshot of linfo running on Windows ?

I haven't released a new release post refactor as I don't have anything Windows to test on.

[2015-10-17 15:51] Beaten-Sect0r commented on #27
![linfo](https://leto27g.storage.yandex.net/rdisk/19ab73dba422fe00d5545b8098637c7a0244a93c7e275a251a54cb94ba9fcf32/inf/4vchkI1Zulr7caXFgutZTtD0yCpc5Y4UjynfXoiPyOXvoIpsD6EVo4ZIgimhjwIuzd3sMaH7cv-V2RlbXGzg-g==?uid=0&filename=scr_linfo.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&rtoken=459418e4b7dfce8877d3ac91dad60ddd&force_default=no&ycrid=na-44c359474b944cc317055bb315350c7

[2015-12-15 20:19] gemal opened #29 "Empty needle in Linux.php"
Warning: strpos(): Empty needle in /linfo/src/Linfo/OS/Linux.php on line 1568

Generated by Linfo (2015-10-21) in 0.17 seconds.

[2015-12-16 03:16] jrgp commented on #29
Pull request ?

[2016-03-18 10:59] cedricve opened #30 "Undefined index: additional_paths on Mac OSX"
I get
`
exception 'ErrorException' with message 'Undefined index: additional_paths' in /Users/cedricverst/www/web/vendor/linfo/linfo/src/Linfo/Parsers/CallExt.php:67`

Got PCRE installed and using PHP 5.6.10

[2016-03-18 23:01] jrgp commented on #30
I'll fix this soon. Are you on the latest git master or a release Tarball ?

Sent from my iPhone

[2016-04-20 09:44] #29 closed

[2016-04-20 09:47] #30 closed

[2016-04-20 15:46] dbwiddis opened #31 "OS X memory is reported in Mebibytes"
Memory values in OS X are in [Mebibytes](https://en.wikipedia.org/wiki/Mebibyte).

Megabytes are [only used for hard drives](https://support.apple.com/en-us/HT201402).

When calculating swap usage in [Darwin.php](https://github.com/jrgp/linfo/blob/master/src/Linfo/OS/Darwin.php#L408) you're multiplying the returned value by 1 million (Megabyte) rather than the correct 1024<sup>2</sup> (<< 20).
[co

[2016-04-20 16:09] jrgp commented on #31
Thanks for the report. Are you able to make a PR with a fix?

[2016-04-20 19:19] #31 closed

[2016-04-20 19:19] jrgp commented on #31
Thanks!

[2016-04-20 20:35] dbwiddis commented on #31
My pleasure.

I maintain a java-based library providing similar information to yours.  I'll probably visit often to research new ideas. :)

[2016-05-24 22:27] TechKat opened #36 "Division by zero in Linux.php line 1651"
I have currently pulled in the dev-master build, as I will only really be using it for my admin panel.

I recently just updated to PHP7. Any recommendations?

[2016-05-24 23:12] TechKat commented on #36
Update: I removed Gummibear's Laravel version and used the original copy.

I set `cpu_percent` to false, and that got rid of the problem. This appears to be a `determineCpuUsage` problem?

[2016-05-24 23:26] jrgp commented on #36
You're right. I'm not checking if `array_sum($ret)` is > 0, which is what led to this. Can you tell me a little bit about the box you're running Linfo on? Is it a docker container/VM/etc/etc.

[2016-05-24 23:30] TechKat commented on #36
I am running Ubuntu 16.04 (xenial), on a VPS managed with VMWare.

[2016-05-31 15:24] jrgp commented on #36
Should be fixed per gummibeer's commit.

[2016-05-31 15:24] #36 closed

[2016-06-29 08:51] hitam4450 opened #38 "Show the percentage of drive(s) used"
Hi, I just installed linfo and I am happy with it. Many thanks for your efforts to provide a solution like linfo to the community.
One feature i am missing is a table showing the percentage of drive(s) capacity used to monitor possible drive lockouts!

regards, hitam4450

[2016-06-30 11:00] jrgp commented on #38
Can you confirm what you mean by drive capacity? Linfo currently shows filesystem space usage.

[2016-07-09 18:22] #38 closed

[2016-07-27 09:56] mitsus opened #41 "PHP library usage"
Hi,
i followed your guide, so on my debian machine into a subdirectory i've download linfo project. I tested it and all work fine.
Now i created a new directory (outside linfo dir) i launched:

`
         composer require linfo/linfo
         Do not run Composer as root/super user! See https://getcomposer.org/root for details
         Using version ^3.0 for linfo/linfo
         ./composer.json has

[2016-07-27 09:58] Gummibeer commented on #41
Have you included the composer autoloader in your file!?
https://getcomposer.org/doc/01-basic-usage.md#autoloading

[2016-07-27 10:03] mitsus commented on #41
Wow @Gummibeer,
thaks a lot now it work fine.

Just last question...where i can find more infos about library? So others command as $parser->getCPU()...for example for take cpu load, memory, ecc?

Thanks a lot

[2016-07-27 14:05] Gummibeer commented on #41
Just in the code yet.

[2016-07-27 17:09] jrgp commented on #41
Yeah linfo needs docs as well as an interface binding all of the os classes to implement the same methods. Thanks gummibear

[2016-07-28 07:35] mitsus commented on #41
Ok sure,
but i don't find for example how to get cpu load % value.

[2016-07-28 08:10] mitsus commented on #41
I try to call
$parser->getCPUUsage()...but it return empty value

[2016-08-24 11:45] Gummibeer opened #42 "Release a new version"
Hey,
I want to update the laravel wrapper to the `v3.0`version but get an exception in the Linux OS file, this error is fixed but not released yet. Can you pls release `v3.1`!?

[2016-08-25 03:20] jrgp commented on #42
Done. Released 3.0.1.

On 8/24/16 4:45 AM, Tom Witkowski wrote:

[2016-08-27 20:42] #42 closed

[2016-10-19 11:13] Hipska opened #46 "Detect if running in Docker / LXC containers"
I think it would be interesting (just as testing for if running inside VM) to see if Linfo is running inside a container.

[2016-10-19 11:24] jrgp commented on #41
Closing this as it's old and I haven't reproduced. Reopen if necessary.

[2016-10-19 11:24] #41 closed

[2016-10-19 11:24] jrgp commented on #46
It is a good idea and probably really trivial to implement support in the existing Linux OS class. Feel free to submit a patch :)

[2016-10-19 11:28] Hipska opened #47 "Detect xhyve/bhyve guest"
Linfo detects guest of xhyve and bhyve as being QEMU/KVM.

This seems to be a generic problem as I have found tickets for Salt and Puppet/facter that state the same also.

[2016-10-19 11:36] jrgp commented on #47
This makes sense as these two new hypervisors use libvirt like qemu does. It'd be easiest of they loaded a custom kernel module that I could look for but I don't think they do.

I'm open to suggestions. Maybe there's a secret file in /sys or /proc that could be informative here.

[2016-10-19 12:32] Hipska commented on #47
Does this makes some sense?
[code]

[2016-10-19 12:33] Hipska commented on #46
Yeah, I'm just new to Docker and couldn't find a reliable detection yet. I made the suggestion here, so maybe other have a clue.

[2016-10-19 17:47] jrgp commented on #47
Yes, checking if that one of those files exists and has the name of the hypervisor in it would definitely make sense.

[2016-10-19 18:30] Hipska commented on #47
Yeah, but it doesn't seem good enough as this is taken from an xhyve Guest. (actually it is on a container from Docker for mac)

[2016-10-19 18:51] jrgp commented on #47
Yeah I recall a PR on the xhyve project to make it identify itself as xhyve not bhyve

[2016-10-20 01:19] jrgp commented on #47
Maybe see if xhyve is written anywhere

[2016-10-20 07:04] Hipska commented on #47
At least not in `/sys`, but you could identify them as bhyve/xhyve guest and use this logo for example: ![bhyve logo](http://www.bhyve.org/static/bhyve.png)

[2016-10-21 00:19] jrgp commented on #47
That makes sense. Would you be able to make a PR for this?

[2016-12-12 14:28] noahwaldner opened #48 "Cant get "cpuUsage" with "$linfo->getInfo();""
Cant get the Value of "cpuUsage", its empty.

[2016-12-12 20:13] KTP95 opened #49 "Undefined index: show in linfo/linfo/src/Linfo/OS/Linux.php on line 653"
$linfo = new \Linfo\Linfo;
$parser = $linfo->getParser();
$text = $parser->getMounts();
produce this WARNING
 Undefined index: show in linfo/linfo/src/Linfo/OS/Linux.php on line 653

[2016-12-12 22:25] KTP95 commented on #49
I watch better ...
This class need $setting parameters, not have a defaults value in \linfo\linfo namespace

Maybe, set a default values is a good idea...

[2016-12-12 22:30] KTP95 opened #50 "[PULL} __CALL , auto-forward call to parser"
MAGIC METHOD __CALL for \linfo\linfo for do auto-forward to parser

[code]

[2016-12-13 01:56] jrgp commented on #50
Can you make a pull request with the code changes ?

Sent from my iPhone

[2016-12-13 12:58] KTP95 commented on #50
https://github.com/jrgp/linfo/pull/51

[2016-12-14 07:52] jrgp commented on #48
You need to first call determineCPUPercentage() before running getInfo().
Something like the following should work:

[code]

[2016-12-14 07:52] #48 closed

[2016-12-15 06:59] noahwaldner commented on #48
require_once dirname(__FILE__).'/init.php';

$linfo = new Linfo;
$linfo->getParser()->determineCPUPercentage();
$linfo->scan();
$values = $linfo->getInfo();

in $values the CPU Usage Field is empty.

[2016-12-18 23:47] #50 closed

[2016-12-18 23:47] jrgp commented on #47
^

[2016-12-18 23:54] jrgp commented on #48
Just looked into this. The following works for me:

[code]

And then:

[code]

[2017-04-23 19:24] IAmEnchant opened #52 "core table is empty but shows title"
all of the core contents are disabled but the title still shown.

[2017-04-23 19:51] jrgp commented on #52
Can you post a screenshot and provide what you are running Linfo on?

Also you can enable error reporting in the config file to see what specifically is going wrong.

[2017-04-23 19:52] jrgp commented on #49
That would be a good idea. Feel free to make a PR.

[2017-04-23 20:59] Gummibeer commented on #49
I'm not 100% sure about it - what would be enabled/disabled by default?
I think that this package handles sensitive data and cause of this the user should be 100% aware of what this package does on his machine.
So yes: it will help the lazy dev to use it - but it has also the risk that this package does things that the dev doesn't want it to do.

So just want to open a critical discussion, about p

[2017-04-24 02:52] IAmEnchant commented on #52
here it is my server http://soldat.tyg.me/
and conf
[code]

[2017-06-25 12:28] cedricve opened #53 "Library doesn't work with PHP7.1"
When trying to run the library on a PHP 7.1 installation it goes in an infinite loop. Not sure what's going wrong.

[2017-06-27 20:09] cedricve commented on #53
I confirm it works properly with 7.0

[2017-06-28 01:10] jrgp commented on #53
Any errors in logs?

[2017-06-28 01:10] jrgp commented on #53
which OS is this?

[2017-06-28 06:03] cedricve commented on #53
@jrgp Ubuntu 16.4 (docker container). Well no error logs, It's  look like when using the Linux OS class, and entering the parser method. CPU goes 100%.

[2017-08-03 04:31] matriphe commented on #53
I can confirm this. Use docker 17.06.0 on Mac, running ubuntu:xenial with PHP7.1 from ppa:ondrej/php

Running `./linfo-dev-server`, opening browser to see the result, it took so long and return nothing.

I'm not sure it's only happened on Docker container or also in real server (VPS, hosting). Will try it.

[2017-08-03 07:12] jrgp commented on #53
Kinda weird. I should do testing on my end as well. One thing you can do is selectively disable panels in the config file to see which one is the bad one. Enabling the timer as well could help.

[2017-08-03 07:32] jrgp commented on #53
I can't repro this on an Ubuntu Xenial container under LXC running stock apache/mod_php `PHP 7.0.18-0ubuntu0.16.04.1` from apt.

[2017-08-03 10:44] matriphe commented on #53
@jrgp Here the method I used to reproduce.

[code]

Inside docker container, I ran these commands.

[code]

I opened the browser, hit http://localhost:8081 and it take so long to show. In the console there's nothing shown up.

[code]

Using PHP 7.0, it ran normally.

[2017-08-03 10:49] matriphe commented on #46
I think we can close it? Or we need to solve the LXC part before closing?

[2017-08-03 10:53] Hipska commented on #46
Looked at the code and seems fine for me.

[2017-08-03 10:53] #46 closed

[2017-08-03 10:55] matriphe commented on #46
@Hipska don't hesitate to try out in Docker container. See if it detects Docker container properly. please use the `master` branch.

[2017-08-03 15:16] matriphe commented on #53
after trying in CentOS 7 and Ubuntu 16.10 (both ran as Docker container), the problem I think is in the PHP 7.1 from ondrej/php repo (need more prove).

in CentOS 7 using PHP 7.1 from Webtatic repo, Linfo ran without any problem.

[2017-08-03 16:00] AlucoST commented on #53
PHP 7.1.7 in archlinux. Confirm this problem.

[2017-08-04 03:54] matriphe commented on #53
Using Nginx + PHP 7.1 FPM in Ubuntu Xenial (Docker container) was also failed. Using PHP 7.0 FPM in the same container was successful.

[2017-08-04 06:38] matriphe commented on #52
@IAmEnchant can you provide the OS and PHP version you use?

[2017-08-04 06:41] IAmEnchant commented on #52
I am using Ubuntu17 and PHP7.

[2017-08-04 06:42] matriphe commented on #52
@IAmEnchant Do you use PHP 7.1? or PHP 7.0?

[2017-08-04 06:44] IAmEnchant commented on #52
It's 7.0.

[2017-08-04 07:59] matriphe commented on #52
@IAmEnchant just realized that your config value was all set to `false`, so it showed nothing. Try to set one of the to `true`.

Try this config.
[code]

[2017-08-04 08:03] IAmEnchant commented on #52
I meant I just wanna hide the "Core" title if those configs set up to false at all.

[2017-08-04 08:08] matriphe commented on #52
try this config, it will hide all values in the Core tab.
[code]

[2017-08-04 18:28] jrgp commented on #53
Should probably strace the php process while this problem is happening so we can get an idea of what it is chewing on.

[2017-08-04 18:52] AlucoST commented on #53
Maybe this link will help:
https://bugs.php.net/bug.php?id=74623

[2017-08-07 16:01] leebradley opened #62 "No Sass / Node build test"
I've considered adding a Node build test to Linfo. For now it could just do a sanity check that the Sass and JavaScript compile correctly. Later it could do more complicated things (like running eslint or JS unit tests.)

But while TravisCI has excellent support for both PHP and Node, the way the `.travis.yml` test matrix works we'd end up running the Node build test on every one of our PHP unit t

[2017-08-14 17:56] q158073378252010 opened #63 "About “Service monitoring”"
[code]

![2017-08-15 01 49 07](https://user-images.githubusercontent.com/8859611/29284219-6174129c-815c-11e7-8ad3-513dd0a8c12c.png)
I want to get the red box service in Linfo.
Is it feasible?
What should I do with the above configuration?

[2017-08-14 23:34] jrgp commented on #63
what is redbox?

[2017-08-14 23:39] q158073378252010 commented on #63
@jrgp  I am sorry，
 Red frame
 Red frame

[2017-08-15 09:20] gemal commented on #53
same on amazon ec2 php 7.1 with nginx

[2017-08-15 09:22] gemal commented on #53
this is the problem:
`$linfo = new Linfo($settings);`

if you `die()` just after this it never reaches this die

[2017-08-15 09:25] cedricve commented on #53
@jrgp do you have any update on this?  Looks like some people are having issues with this, and is limiting upgrading PHP to 7.1. Thanks again for your amazing work! I heavily use your library in the web interface of @kerberos-io.

[2017-08-15 10:51] gemal opened #64 "Class 'COM' not found"
Fatal error: Class 'COM' not found in linfo\src\Linfo\OS\Windows.php on line 52

using `# v.3.0.1 8/24/2016`

[2017-08-15 15:29] jrgp commented on #64
You need to have PHP's COM extension installed for linfo to work on windows.

[2017-08-15 19:01] jrgp commented on #53
I'll try to take a look at this today. Really sorry for the inconvenience!

[2017-08-15 19:02] cedricve commented on #53
amazing @jrgp thanks!

[2017-08-16 01:36] jrgp commented on #53
I can't repro this on ubuntu trusty with locally compiled 7.1.8:

[code]

[2017-08-16 01:38] jrgp commented on #53
Can't repro on ubuntu trusty and locally compiled latest php.

[code]
[code]

Granted this isn't in a container; it's on a bare metal host.

I'll try to repro elsewhere.

[2017-08-16 01:46] jrgp commented on #53
Can't repro on 7.1.7 either (the version you guys are using)

[code]

It's gotta be something specific to running under a container. I'll be digging into this more.

[2017-08-16 01:54] jrgp commented on #53
I'm going to try under xenial/docker/ondrej

[2017-08-16 01:55] jrgp commented on #53
Aha! I can repro under docker. Will investigate and release a fix.

[2017-08-16 02:17] jrgp commented on #53
Disabling opcache "fixes" it. Eg comment out the line in `/etc/php/7.1/mods-available/opcache.ini`

Seems to be related to https://bugs.php.net/bug.php?id=72112

Last output from strace when it hangs:

[code]

[2017-08-16 02:53] jrgp commented on #53
Can confirm php7.2 from ondrej dies the same way and disabling opcache (`/etc/php/7.2/mods-available/opcache.ini`) fixes it.

[2017-08-16 02:56] jrgp commented on #53
Need to figure out whether it's:

1) bug in opcache
2) bug in the way ondrej compiles php
3) either of the above + requirement for running inside a container

And:

1) whether there's a config tweak that can fix it aside from completely disabling opcache

Either way, I think it's the fault of PHP here rather than linfo itself. I'm going to dig deeper and look into a "better" fix for this though.

[2017-08-16 05:57] cedricve commented on #53
@jrgp amazing find. Do you usie any caching in the Linfo library?

[2017-08-16 08:20] jrgp commented on #53
@cedricve not really.

The opcache module is for transparently caching the compiled bytecode of each .php file itself to make PHP apps with a large number of files (i.e. most modern ones) run faster. It's the modern day replacement of old similar modules like apc/apcu and others.

I debug'd this issue using the `echo 'foo' ; exit; ` method and I identified the call which hung is in Linfo.php on li

[2017-08-16 08:26] cedricve commented on #53
@jrgp that makes sense, I'll give it a try to get it compiled in my dockerfile with another distro. Keep you posted!

https://github.com/kerberos-io/docker/blob/master/base/Dockerfile#L29

[2017-08-16 08:54] matriphe commented on #53
I used Sergey's PPA `add-apt-repository ppa:sergey-dryabzhinsky/php71` and install it using `apt-get install php71p-cli`. Linfo run smoothly.

Then I installed Opcache using `apt-get install php71p-mod-opcache` and the problem occured. I think the problem is in the opcache.

For temporary, it would be better to inform by adding the Opcache note ini PHP 7.1 in the README.

[2017-08-16 08:58] cedricve commented on #53
thanks @matriphe, ok let me try that one. I don't need opcache, so this isn't an issue for me, but I can imagine that there will be some people relying on opcache heavily. For now we can add it to the README, but we really need to find out why this is happening, also can't imagine that there would be an major bug in the opcache library. I think that some code of the Linfo library doesn't get optim

[2017-08-16 09:07] matriphe commented on #53
@cedricve yes. Opcache is running safely in PHP 7.0 and below. I think disabling Opcache in PHP 7.1 is a best practice for now.

[2017-08-16 09:08] cedricve commented on #53
thanks for the share @matriphe I'll do that!

[2017-08-16 16:23] jrgp commented on #64
I'm going to close this as installing COM should definitely fix this. Feel free to reopen/reply if it does not.

[2017-08-16 16:23] #64 closed

[2017-08-16 16:30] jrgp commented on #53
I just added the opcache caveat to the README file.

I tried a bunch of different ways of fixing this (manually changing each opcache option, one by one, to see if it fixed it) but I haven't been successful.

Will be worth seeing if it still is broken in upcoming php releases. Maybe 7.3 will be better.

[2017-10-17 13:04] RazeSoldier commented on #53
Before the problem is solved, we can use the **opcache.blacklist_filename** option to avoid this problem.

[2017-10-20 20:26] jrgp commented on #53
^ That's a really good idea.

[2017-10-20 20:30] jrgp commented on #53
Oh I was hoping that `opcache.blacklist_filename` was `ini_set()`'able and took a path (like `__DIR__`) as its argument. As it requires a text file with paths I can't really use it inside linfo itself, but rather just suggest people use it to avoid disabling opcache altogether.

[2018-02-13 18:30] Gemorroj opened #74 "correct license"
License "GPL" is not a valid SPDX license identifier, see https://spdx.org/licenses/ if you use an open license.
use
[code]
to validate `composer.json`

[2018-02-13 22:42] jrgp commented on #74
Gotcha, I'll fix this later.

[2018-02-17 09:16] cedricve commented on #53
hey guys, any update on this? We are few months further.

[2018-02-17 10:18] jrgp commented on #53
I'll take another look into this and see if I can fix it.

[2018-02-17 11:22] #53 closed

[2018-02-17 11:40] #74 closed

[2018-02-17 11:41] jrgp commented on #47
^

[2018-02-19 07:30] Gemorroj commented on #74
@jrgp ping, please update the license file.

[2018-02-19 08:51] Hipska commented on #47
Hi sorry for late comment, but I think you could guess that yourself already that I currently have no time to spend on this. Could you please do it yourself? It doesn't seem a lot of work.

[2018-03-28 10:15] Gemorroj opened #81 "A request to amend a license for a fork."
https://github.com/Gemorroj/linfo/issues/8
https://github.com/jrgp/linfo/compare/master...Gemorroj:master

I have a fork of this library.
There have been many changes in the fork. I want to change the license to LGPL. As far as I know, I have to ask permission from the author of the original GPL code.

[2018-03-28 16:02] jrgp commented on #81
I personally don't have a problem with Linfo (or a fork) being relicensed as LGPL. I should have made it MIT or BSD to begin with, but at the time all the cool kids were using GPL and that's what I went with.

The problem is I can't speak for all of Linfo's committers/contributors aside from me, as all of them would also have to approve the license change. This is the same problem that other open

[2018-03-28 16:14] Gummibeer commented on #81
@jrgp how about creating a PR with license change and request review of all contributors - after some dass/weeks IT would be possible to see a full result or at least a trend.
I'm not deep into license but how I know Copyrights 100% of contributors have to accept I think?

[2018-03-28 16:17] Gummibeer commented on #81
@Gemorroj I would also like to see some changes coming back - but a lot of your changes are "just" dropping support for OS/libs!?

[2018-03-28 16:18] jrgp commented on #81
It would be kind of tricky to get approval from everyone as some of the commits were diffs people emailed me, back when this was SVN on sourceforge.

I’m going to do some research and see what I can do.

[2018-03-28 16:30] Gummibeer commented on #81
An Idea would be If there is a deadline possibility - so inform all (even SVN should have an e-mail?) and If there is no response in 30days it is an auto-accept. But no idea If something like this is applicable with current law?

[2018-03-28 16:37] Gemorroj commented on #81
@jrgp, @Gummibeer Thank you for the detailed explanation.
So far, the main changes concern API. For example, the settings are completely removed. And also, more obvious structure of the given data ([Info.php](../../../Gemorroj/linfo/blob/master/src/Info.php)).

about license, I remember collecting consents to change the license for the phpexcel project. It seems that the license could not be chang

[2018-03-28 16:38] jrgp commented on #81
What I should have done is added a contributor license agreement (CLA) file saying that I have the right to change the license of contributions as I see fit, but I didn't know this was a thing at the time. At the time, I just cared about the quality of the code itself.

However, I looked at @Gemorroj's changes, and in my opinion, it largely counts as a rewrite as so much is stripped out and change

[2018-03-28 16:40] jrgp commented on #81
Also, I don't really think copyleft restrictions of PHP code matters all that much, as when you distribute your app/library it's always going to be in source form. The only license which would cause problems is AGPL (you can do research as to why).

[2018-03-28 16:45] jrgp commented on #81
I remember now that GPL/LGPL/copyleft can make it harder for corporations to use open source projects, whereas MIT/BSD/permission ones don't cause them problems.

I'll make a GH issue later asking all of our contributors for permission, and also manually email other people later. As there aren't a ton of contributors maybe I'll be able to get permission from everyone. I'm most concerned about tran

[2018-03-28 16:50] jrgp opened #82 "Permission to change code license to MIT?"
Hi Everyone. I'm the author of this project, and would like to relicense all files from GPL to MIT, so the project becomes more permissive and more usable for everyone.

However, I need an explicit "YES" from each person who has contributed code. Is everyone okay with this?

- [x] @jrgp
- [x] @FroggDev
- [x] @leebradley
- [x] @mologie
- [x] @matriphe
- [x] @doublehelix
- [x] @filisko
- [x] @FliesL

[2018-03-28 16:50] jrgp commented on #81
Just made #82 we'll see what happens.

[2018-03-28 16:52] IndrekHaav commented on #82
Yes

[2018-03-28 16:55] filisko commented on #82
Yes!

[2018-03-28 17:04] Gemorroj commented on #82
Yes

[2018-03-28 17:05] Gummibeer commented on #82
Yes

[2018-03-28 17:07] Gummibeer commented on #82
@jrgp use GitHub Checkboxes to keep track in first post/comment.
https://help.github.com/articles/about-task-lists/

[2018-03-28 17:16] jrgp commented on #82
@Gummibeer cool, thanks

[2018-03-28 17:33] Shark-kun commented on #82
Yes

[2018-03-28 17:35] rsauvatinet commented on #82
Yes

Rémi Sauvat
iNet Process
remi.sauvat@inetprocess.com

On Wed, 28 Mar 2018, 7:33 pm Mikhail, <notifications@github.com> wrote:

[2018-03-28 17:37] gpedro commented on #82
Yes

Atenciosamente,
Gabriel Pedro

[2018-03-28 17:38] leebradley commented on #82
Yes

[2018-03-28 17:39] Beaten-Sect0r commented on #82
Yes

[2018-03-28 22:55] mologie commented on #82
Yes

[2018-03-29 01:01] matriphe commented on #82
Yes

[2018-03-29 01:09] dbwiddis commented on #82
Yes

[2018-03-29 01:14] evazzadeh commented on #82
Yes;)

[2018-03-29 02:19] chraac commented on #82
YES

2018-03-29 9:14 GMT+08:00, Javad Evazzadeh Kakroudi <notifications@github.com>:

--
hongruichen

[2018-03-29 02:19] chraac commented on #82
Yes

[2018-03-29 03:56] doublehelix commented on #82
YES

On 29 March 2018 at 03:50, Joe Gillotti <notifications@github.com> wrote:

--
Q: Why is this email three sentences or less?
A: http://three.sentenc.es

[2018-03-30 00:19] FroggDev commented on #82
Of course Yes !

[2018-03-31 03:49] jrgp commented on #82
Thanks everyone for the confirmations :)

We're currently just waiting on approval from:
 @KTP95
 @gpedro
 @Kaotic

[2018-03-31 04:00] jrgp commented on #82
Just cut the first release in a long time, and hopefully the last one GPL'd: https://github.com/jrgp/linfo/releases/tag/v3.0.2

Once I have all approvals, I think I'll do a major version bump for the migration to MIT.

[2018-03-31 06:05] leebradley commented on #82
@jrgp gpedro shows up here as having responded affirmatively

[2018-04-03 22:45] jrgp commented on #82
Yep, looks like it's just @KTP95 and @Kaotic left

[2018-04-04 01:05] dbwiddis commented on #82
The change by @Kaotic was a [simple typo fix](https://github.com/jrgp/linfo/pull/68/files).  Worst case you can back out their change, then re-fix it yourself without fear of treading on anyone's intellectual property. :)

The change by @KTP95 is [only slightly more complex](https://github.com/jrgp/linfo/pull/51/files); it could be backed out for the change and requested to be resubmitted under th

[2018-04-04 02:40] jrgp commented on #82
Good point. Those are both really trivial.

[2018-04-04 19:28] Gummibeer commented on #82
@leebradley the link is interesting - related to this the change by @KTP95 isn't copyrightable at all cause there is nearly nö other way to get this done.
A `callable` check is needed in a `__call` overloading to another class to prevent exceptions. So the change, except of codestyle, couldn't ne done in any other mentionable way.

@jrgp the idea you have wouldn't be a solution for a Copyright pro

[2018-04-05 05:26] dbwiddis commented on #82
Of note, @KTP95 also posted the code as a comment in #50 and only submitted the PR upon request -- was there a license on his Issue comment.

Also of note, the nearly-identical code is [posted as part of a question and in an answer on StackOverflow](https://stackoverflow.com/questions/13534269/php-call-all-the-time).

[2018-04-05 06:33] jrgp commented on #82
Done. Linfo 4.0.0 released, under MIT instead of GPL.

[2018-04-05 06:33] #82 closed

[2018-04-05 07:39] jrgp commented on #81
It's now MIT.. Do whatever you like.

[2018-04-05 07:39] #81 closed

[2018-05-14 19:29] ilpillo opened #86 "Missing down services"
Hello
In my setup I'm trying to monitor the service state (up/down) of some services,
i.e.:
// Format: Label => pid file path
$settings['services']['pidFiles'] = array(
 'nginx' => '/run/nginx.pid',
  'ssh' => '/run/sshd.pid'
);

The problem is that whenever a service stops, the corresponding row is removed from the services box.

[2018-05-16 15:57] jrgp commented on #86
Interesting. Will look into this

[2018-06-03 22:10] meteguerlek opened #88 "Missing inboud & outbound network."
As the title suggests, the script doesn't monitor the inboud and outbound traffic of the current server.
I hope this gets added to this script, im sure many people would be interested of it being added since this script is actually pretty leightweight.

Thanks

[2018-06-08 13:13] meteguerlek commented on #88
Hi @jrgp, exactly the current up & down speed of the server. (its rx and tx if im not mistaken)

[2018-06-15 08:59] evazzadeh opened #89 "ERR_CONTENT_DECODING_FAILED on windows"
Hi
Its better to add some documentation about running on windows!

I have ERR_CONTENT_DECODING_FAILED error and after some search found that is because force gzip on linfo.

By enable `zlib.output_compression` in `php.ini` its working. but maybe it's better to describe this or disable force gzip in request header.

[2018-06-15 09:06] evazzadeh opened #90 "ob_start error in html output"
I have this errors in windows

[code]

probably it's because don't clean last ob_start and start again. it try to fix this and send as pull request

[2018-06-15 09:28] evazzadeh commented on #90
I send fix in https://github.com/jrgp/linfo/pull/91

[2018-06-15 09:50] evazzadeh opened #92 "Use internal css and js"
Currently to load html output, linfo use 5 file contain 3 css, 1 js and 1 image as default and sometimes it being more for extra image or etc.

We can use internal css and js remove extra request. Someone maybe want to use linfo html preview as part of another service and they must customize location of media files. Because of that we can use internal css and js. For images i recommend to merge im

[2018-06-15 10:04] evazzadeh commented on #92
Also for change theme i think it's better to simply add a theme name as class to body and use one file for all themes, because it's very simple and don't need include each file with all of styles!

[2018-06-15 14:47] Gummibeer commented on #92
Most browsers will cache assets and are also faster to request 5 smaller files instead of one big.
Base64 decoded images are also a lot larger.
The next reason against is maintainability. And for themes - it's in no way better/faster to request one css file with all themes instead of a single, replaceable, one with the current theme.

And most ones who use this in another project will build custom

[2018-06-15 16:46] jrgp commented on #90
Thanks for your PR

[2018-06-15 16:46] #90 closed

[2018-06-15 22:49] jrgp commented on #92
We *could* make the images a sprite sheet and minify/combine the JS and CSS files down, but I'm not sure what the gain would be as the size of JS and CSS for linfo is miniscule compared to other projects. All of it together is just a few KB.

[2018-06-15 22:52] jrgp commented on #89
Probably would be a good idea to use init_get() or similar to evaluate the value of zlib.output_compression at runtime to decide whether to do ob_start with the ob_gzhandler method. Or maybe don't use ob_gzhandler at all and find some other way of doing it depending on what the client requests.

[2018-06-16 04:55] Gummibeer commented on #92
And as a last reason against inline: "all" projects with an enabled content security policy will fail cause enable `inline-unsafe` is like don't have a CSP.

[2018-06-16 05:11] Gummibeer commented on #89
For me, in my setups, nginx is responsible for gzip - and I don't see a reason why PHP should do this. It will/could lead to a double work cause nginx have to stay with this setting for css, js and image files.

[2018-06-16 10:05] evazzadeh commented on #92
All of image in icons folder is about 27.8kb and combine them and after compressing is maybe less than 10kb. for example compress logo.png is reduce about 65% of file size via [compressor.io](https://compressor.io/compress)
 Also all of css is about 6.1kb and combine theme colors in one files is less than 8kb and it's nothing!
At least you can use one css, one image at all.

Also namespace is not

[2018-06-16 22:08] jrgp commented on #92
This might be worth thinking about.

Regarding that namespace thing, does using it shorthand (eg `Timer`) matter when we have the relevant `use` statements at the top of the file?

[2018-06-16 22:14] jrgp commented on #89
Should be fixed per https://github.com/jrgp/linfo/commit/a2c8662805333c4921b9b40d4d6c333b0a63fbea

Please confirm.

[2018-06-19 12:49] evazzadeh commented on #92
No it's not about using shorthand.
For example to define new instance from simple datetime class, you must declare as `new \DateTime` instead of `new DateTime` (with backslash before name of class). or to use try catch you must define exception with backslash because it's global class. like `catch (\Exception $e)`.

This lets PHP know that this call should be resolved from the global space instead

[2018-06-19 12:58] evazzadeh commented on #89
yep;)
fixed, thanks.

[2018-06-19 12:58] #89 closed

[2018-06-19 13:57] Gummibeer commented on #92
As an example:
https://github.com/jrgp/linfo/blob/686a35498694217ae9bc66800f87de3d949b2712/src/Linfo/OS/BSDcommon.php#L151

In all other places it's used with the correct `use \Linfo\Meta\Timer;` statement https://github.com/jrgp/linfo/search?l=PHP&p=1&q=Timer

[2018-06-19 18:58] Gummibeer commented on #92
@jrgp I would recommend to use PHP cs fixer in Travis to prevent things like this in future.
*I'm not 100% sure if it detects missing use statements but it can detect unused ones*

Related to the theme thing and so on it would be an idea to switch to less/sass and gulp/grunt/webpack to keep code simple and readable but compress everything during build.
It also could make theming a lot easier if I

[2018-06-19 21:04] leebradley commented on #92
If this is an integration into another service, you might be better off using the Linfo JSON output and creating our own skin? It would give you a great deal more flexibility.

Coming from a web development background, I see why you would make this suggestion. It is a very common SEO optimization for websites. But I don't feel like this applies in our use case.

Inline images and CSS improve first

[2018-06-20 07:29] evazzadeh commented on #92
Good solution, but need more time.

It was not just about this issue. If target is reduce size of request, we can combine css files into one file and use like now as external file. If we do the math, adding a generous 1460 bytes http request overhead:

- theme_default.css - 3327 bytes (+1460 bytes http req overhead)
- icons.css - 2136 bytes (+1460 bytes http req overhead)
- mobile.css - 596 bytes

[2018-06-20 07:44] evazzadeh commented on #92
I do it and create one sprite image for icons. 10 kb was guess. real size is 4610 bytes (**4.6 kb**). it size of one file image file contain all of images:) [check image size](https://github.com/jrgp/linfo/pull/94)

[2018-06-20 08:28] Gummibeer commented on #92
So you add *2.26 KB* and *185 lines* to reduce the amount of requests by *2* for an administrativ application that will never get seen by any search-bot or something else that's not the admin!?
This whole "issue" is optimization to death at the wrong place.

I've no usage stats but so far I used this package the delivered html is only an example and never used in production.
If you want a simple p

[2018-06-26 07:33] jrgp commented on #92
Sorry for the late reply everyone.

@leebradley thanks for the info. I was hoping you'd reply :)

@Gummibeer I fully agree. The most _practical_ use for Linfo is likely its JSON API, and people will likely use something else other than PHP with a webserver for gathering metrics, like collectd or something else. I still spin Linfo's web UI up on servers I run and use it to look at them periodically

[2018-08-05 12:18] SubrataM3 opened #95 "Unable to get CPU usage"
**Code**
[code]
**Output**

RAM usage,Uptime etc works fine though.

**System Info**
PHP => `PHP 7.2.8 (cli) (built: Jul 17 2018 09:50:46) ( NTS )`
OS => `CentOS Linux release 7.5.1804 (Core)`
Kernel => `Linux localhost 3.10.0-862.9.1.el7.x86_64`

Its a local virtual machine, so nothing is restricted on PHP side. Please let me know if you need any further information.

Thank you.

[2018-08-05 17:46] jrgp commented on #95
Hey, thanks for reaching out.

Getting CPU usage is a kind of a tricky operation and requires a little bit more in terms of usage. I’ll reply back later with more details (on my phone now and can’t easily look trough things).

Regards

[2018-08-05 21:55] zbczyvgy opened #96 "Wrong Temperature Reported on CPU"
linfo improperly reports on 1 out of 4 cores for my Intel CPU.
My CPU is running mostly at ~30 degrees Celsius when idle, linfo, however, reports one of the cores being at ~45. And each time I load the page it is a different core. Gotta fix that.
![2018-08-06-005315_480x129_scrot](https://user-images.githubusercontent.com/23407361/43690484-5935ff4e-9913-11e8-8802-9e4796607a28.png)
![2018-08-06-005

[2018-09-06 13:11] #92 closed

[2018-11-08 13:26] emrecandan opened #99 "AutoRefesh"
can you tell me were am i add autorefresh server cpu,memory ext. values with jquery timer?

[2018-11-08 15:59] ikunyemingor commented on #99
Hi I've used like this with composer, php, js and html:
**PHP**
`
use Linfo\Linfo;
$info   = new Linfo();
$parser = $info->getParser();

$infoData = [
"cpuLoad"   => $parser->getLoad()
];
echo json_encode(["infoData" => $infoData]);
`

**HTML and JavaScript**
`
<html lang="en">
  <head>
    <title>Bootstrap 101 Template</title>
  </head>
  <body>
   <div id="cpu"></div>
    <script src="jquery.min

[2019-04-10 00:21] jrgp commented on #96
Sorry for delayed response, but Linfo reads these values from the same location in /sys that the `sensors` command reads from. Due to these values always fluctuating, the values will always be different.  If you still have questions feel free to reply.

[2019-04-10 00:21] #96 closed

[2019-04-10 00:22] jrgp commented on #99
^ That's a nice example on how to use Linfo as a library :) closing

[2019-04-10 00:22] #99 closed

[2019-04-23 20:03] r0max opened #100 "Warnings: "continue" targeting switch is equivalent to "break"."
When accessing linfo, two warnings are spilled out:

Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /srv/http/linfo/src/Linfo/OS/Linux.php on line 1034

Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /srv/http/linfo/src/Linfo/OS/Linux.php on line 1351

The fix is simply to delete the "continue

[2019-04-24 07:30] jrgp commented on #100
Hey, thanks for pointing this out. Will follow up

[2019-05-03 07:18] #100 closed

[2019-06-28 00:32] #63 closed

[2019-08-21 06:27] skoch872 commented on #100
Hello, is there already information when the release is ready?

Thanks!

[2019-09-22 20:46] SubrataM3 commented on #95
Hi, any update on this?

[2019-09-22 21:17] SubrataM3 opened #101 "More usage examples"
Hi,

Is there any page where i can see more usage example?

for example:
1. `var_dump($parser->getTemps());` gives nothing with the following notice/error

2. `var_dump($parser->determineCPUPercentage());`
gives null

3. `var_dump($parser->getMounts());` gives notice

I think i need to pass some more info to these method calls. Can you help.?

Thanks

[2019-09-23 06:02] jrgp commented on #101
Hey,

Sorry for the lack of proper usage docs.

Those methods expect configuration items (the same ones in `sample.config.inc.php`) to be passed as an associative array when you instantiate the Linfo object.

Eg:

[code]

For the mount example, the code is looking for the `['show']['duplicate_mounts']` setting.

[2019-09-23 06:04] jrgp commented on #95
Try

[code]

[2019-09-23 13:09] SubrataM3 commented on #95
That works ! Thank you. :-)

[2019-09-23 13:16] SubrataM3 commented on #95
But, This returns the load average output, not the actual percentage (average usage percentage of all cores).

[2019-09-23 13:53] #95 closed

[2019-10-15 03:33] mschlenstedt opened #106 "No Drives on Raspberry / Kernel 4.19"
With Kernel 4.19 no drives are shown on Raspberry/Raspbian (Debian Buster):

![image](https://user-images.githubusercontent.com/16830799/66798093-38ea4000-ef0d-11e9-8269-23b460bed1f1.png)

[2019-10-16 05:42] jrgp commented on #106
Hey, if you run `ls /sys/block/*/device/model` ? do any files appear?

Linfo works by parsing through /sys/block, and I wonder if on that rpi there are unexpected/missing things in that folder

[2019-10-16 16:15] mschlenstedt commented on #106
I have different Raspis here. One shows the files:

![image](https://user-images.githubusercontent.com/16830799/66937962-9fbc4600-f040-11e9-8afa-add04f593661.png)

Another one is missing the "model" file and does not have sda, sdb but names like mmcblk0:

![image](https://user-images.githubusercontent.com/16830799/66938085-d85c1f80-f040-11e9-8c3e-da077cdca473.png)

[2019-10-16 16:16] mschlenstedt commented on #106
The one with the model file also shows the SDCard in Linfo:

![image](https://user-images.githubusercontent.com/16830799/66938221-1ce7bb00-f041-11e9-804a-c56d64d8e09f.png)

[2019-10-18 07:14] jrgp commented on #106
Thanks for the info. What custom Linfo theme is that? It doesn't look like any of the ones we have.

[2019-10-18 08:14] FroggDev commented on #106
Theme_frogg added with mobile compatibility pr
Can be seen on info.home.frogg.fr

[2019-10-18 12:05] mschlenstedt commented on #106
We use Linfo in our LoxBerry Project: https://github.com/mschlenstedt/Loxberry

Our WebGui is "green", so we took the standard theme and only edited the colors.

[2019-11-09 15:59] moharrum opened #107 "OS\Linux wrong distro name"
Hello,

Running Fedora 30 (Thirty) Workstation, I was trying to call `getDistro()`, I got:

[code]

The problem that `Fedora` has `redhat-release` file in `/etc` and looking at `src/Linfo/OS/Linux.php` line 1406 is considered the first match and at line 1471 gets returned as the first correct match.

The last condition is always true since all `$contents_distros` have `distro` index (except ones w

[2019-11-09 18:44] ElTopo opened #108 "Handle services when their executable paths are not availabe"
Hello,

I have some services I want to monitor but their executable paths are not available (they show up in 'ps' command as "[cmd]" with square brackets) and they don't have pid files..

One example is "[mega-cmd-server]" from MEGAcmd
https://github.com/meganz/MEGAcmd

Currently $settings['services']['executables'] array only takes full path of the executable.

Is it possible for settings array t

[2020-01-09 18:57] PROBLEMCHYLD opened #109 "NTFS and HDDtemp"
It seems loading ntfs drives doesn't list specs just ? marks. I installed hddtemp and got a hdd parser error. Other than that awesome tool. Thank you

[2020-01-09 23:47] jrgp commented on #109
Thanks for reaching out & I'm glad you like the tool :)

Can you clarify what OS you're using, and also provide a screenshot of what you're seeing? Also, are you using the latest git checkout of linfo or an older release?

[2020-01-09 23:52] jrgp commented on #108
The proper fix for this would be to make linfo, rather than going off of `/proc/$pid/cmdline`, to grab the file path from `/proc/$pid/exe` instead, which would use the underlying file path, in your case the actual path your mega-cmd-server uses.

[2020-01-09 23:53] PROBLEMCHYLD commented on #109
Slackware 14.2 using the latest git version from here. Again thank you for a wonderful tool.

[2020-01-10 09:20] PROBLEMCHYLD commented on #109
Highlighted in blue is my NTFS drive.

![Screenshot_2020-01-10_03-07-08](https://user-images.githubusercontent.com/30463992/72141224-0dce8b80-3358-11ea-8c31-734938b915a8.png)

[2020-01-10 20:13] jrgp commented on #109
1) As for your question of hddtemp, it can't always detect temps from SSDs and some HDs.

2) As for those '?' in place of the disk usage stats, it's likely because the web server user does not have read permission on that `/run/media/problemchyld` path, so its statvfs calls fail.

If you make your web server php run as your username, or if you manually move the mountpoint somewhere else, or if you

[2020-01-10 20:23] PROBLEMCHYLD commented on #109
Thanks, you can close this. Any future releases coming?

[2020-01-10 22:20] jrgp commented on #109
Definitely. Feel free to suggest features you'd like to see in upcoming releases :)

[2020-01-10 22:20] #109 closed

[2020-08-01 00:31] adjenks opened #111 "PHP Notice: Undefined index: show in /vendor/linfo/linfo/src/Linfo/OS/Linux.php on line 695"
You might want to `@` silence the notices here, or perhaps check if it exists first.

[2020-10-16 09:26] JoffreyPoreeCoding opened #112 "RAM informations are wrong on Darwin OS"
Hello,

I'm using Mac OS 10.15.6 (Catalina) and getRam function return incorrect result.

Here explained :
[code]

Result :
[code]

As you can see, free mem is greater than available. `sysctl hw.usermem` return `hw.usermem: -216473600'. So I try to take only the absolute value (216473600) but it still wrong.

My current free RAM is about 3Gb.

A little trick allow me to get the free RAM in Dawin.p

[2020-10-17 06:06] jrgp commented on #112
Hey,

Thanks for the report.

This problem is likely due to the mac sysctl entries being bounded by the size of a 32bit integer, which is why the value for hw.usermem overflowed and became negative. This wasn't caught when the Linfo Darwin OS class was written 10 years ago as computers had less ram back then.

The proper fix here is to have Linfo execute vm_stat and regex-match out the right value

[2020-10-19 12:09] JoffreyPoreeCoding commented on #112
Yeah sure it's better to use vm_stat, will you fix it soon ?

[2020-11-12 08:09] jrgp commented on #111
Should be partly fixed per 2ba860a185a98a424f978b9ab213fb7bb46abb51 Let me know if you still see this problem

[2020-11-12 08:09] #111 closed

[2020-11-13 17:53] jrgp commented on #107
Hmm we really should have a unit test for all of these scenarios.

[2020-11-13 19:54] jrgp commented on #107
Hopefully c8537c7d1aebdabc873bad9232211fedd6397e09 should fix it. Let me know if it doesn't.

[2020-11-13 19:54] #107 closed

[2020-11-15 00:42] jrgp commented on #107
This should be definitely fixed per 22fd93e9440cafa4c49267f0822430dc708ac464

[2020-11-22 15:37] Saentist opened #113 "Multiple identical devices show as one device"
PCI/USB devices with same PID VID are show as only one device

example:
two identical lan cards on PCI
two identical USB tuners

[2020-11-22 23:05] jrgp commented on #113
Thanks for the report!

Just curious: what OS are you running Linfo on?

[2020-11-22 23:58] jrgp commented on #112
Per 6ce928401af5dda50d35f9669fbb45bb8b617570 I've committed a patch that "fixes" the value being reported as negative.

It still isn't accurate though as it doesn't take into account memory which is used for filesystem cache nor compressed memory regions

[2020-11-23 06:37] Saentist commented on #113
Ubuntu 18.04 x64 kernel 5.0.4.
**lsusb** and **lspci** show corect number of device's.

p.s.
Tree format of device connections will be more informative.

[2020-11-23 08:40] jrgp commented on #113
The latest master now will show multiple PCI and USB devices correctly, in that if a single device exists more than once, the the quantity will be displayed in parens:

<img width="714" alt="Screen Shot 2020-11-23 at 12 39 16 AM" src="https://user-images.githubusercontent.com/472066/99942338-60245b00-2d24-11eb-9223-2c8aec5eab55.png">

Refactoring the table into a tree view would be a neat feature,

[2020-11-23 20:49] Saentist commented on #113
Let's see some other "defects" missing device type all in content betwin "xx:yy.z" and  ":"  (can be reprodused with image)
[code]
![cap1](https://user-images.githubusercontent.com/16975883/100011298-3299e900-2dda-11eb-8f16-e4d2fc91b3e8.png)
after update
![cap2](https://user-images.githubusercontent.com/16975883/100011320-3b8aba80-2dda-11eb-8c6d-71a5fb126b1f.png)

On other pc now is more understan

[2020-11-23 21:00] #113 closed

[2020-11-24 04:03] jrgp commented on #113
@Saentist  I 100% agree that Linfo is glossing over very valuable information such as a tree of all of the devices and the speed of each device, but a real challenge here is determining how to display the info in a visually appealing way within the Linfo UI.

[2020-11-24 08:00] Saentist commented on #113
as cell on table with fixed size aligned ond right side
or as current implementation of count of devices + (device speed)

open new issue for this

[2020-11-24 08:04] Saentist opened #114 "Devices and port's speed"
This is continuing from #113

ex:

[code]
and we see **Speed** and **Width** of pci device's and port's

[2020-11-24 08:13] Saentist commented on #114
[code]

[2020-11-24 10:37] JoffreyPoreeCoding commented on #112
Ok nice, thanks you!

[2020-11-25 02:31] jrgp commented on #114
Thanks for that output. What OS/system are you running `lspci -vv` on?

I checked a few machines I have and none of them give that `LnkSta: Speed 2.5GT/s, Width x1, TrErr- Train- SlotClk+ DLActive- BWMgmt- ABWMgmt-` style output

[2020-11-25 07:59] Saentist commented on #114
Tested and work on Ubuntu 14.04/16.04/18.04, Clear Linux and CentOS 7.

[2020-11-26 09:12] jrgp commented on #114
I've added speed detection/displaying for USB devices.

I've looked so far at 3 physical machines/servers (all ubuntu 16/18/20 LTSs) and several VMs (tried centos/opensuse/ubuntu) and I don't see the speed info. I must be looking somewhere wrong.

[2020-11-26 13:29] Saentist commented on #114
Isn't better speed to be in some different font/background from "device count" number colour?

I use some AsRock/MSI/DELL/HP/iEi boards no problem to see speed of devices

[code]

[2020-11-26 14:36] Saentist opened #115 "CPU information concentration"
Currently each tread report CPU name
![Linfo WebUI Screenshot](http://jrgp.us/misc/linfo.png)
imagine how many space take 2x of latest 64 core EPYC cpu's (256 lines )

Each page refresh show current core speed
Is it possible to add some chart graph as
https://canvasjs.com/php-charts/dynamic-live-multi-series-chart/

[2020-11-27 22:34] jrgp commented on #115
You're totally right about the CPU core density. On the newer version of the machine in the screenshot you posted (Machina), it now has 32 threads up from 4. I'm not sure of a better way of displaying this information, as we show the unique speed of each thread.

![image](https://user-images.githubusercontent.com/472066/100487358-0ec9f200-30bd-11eb-8540-4e1402b0901c.png)

You mentioned showing a g

[2020-11-27 22:40] jrgp commented on #114
I just looked at lspci -vv on an old Dell I have, and I do see the LnkSta lines with Speed reports. However, I'm seeing several of these lines per each device, so I am unsure of an accurate way of representing this information without converting the Devices table to a tree-type display.

[code]

I'm also not sure how useful it is to know the speeds of internal PCI devices. I think this info would

[2020-11-27 23:27] Saentist commented on #115
No need to see so big array of data from graph
just data need to be collected from time when page generated and add new value each  3 seconds with array of 20 values per core.
Or let's say array to collect 20 values per 3 seconds = 1min graph per core.
on page refresh all to start from begining if user stays more then 1 min old data to disappear

[2020-11-27 23:41] Saentist commented on #114
From your example
[code]

**LnkCap** represent phisical speed of port
**LnkSta** represent speed used by device on port

on some motherboards there are mechanical x16 port but it is just x8 physically, x8 with is x4 and 1x in x4
I see lot of genius with put video card on bottom x16 slot with is always x8 and GPU work very slowly. in games and transcoding.

similar as [nvtop](https://github.com/Syl

[2020-12-09 08:38] ilianiv opened #117 "PHP8 TypeError"
**Error:**
ceil(): Argument #1 ($num) must be of type int|float, string given

**At:**
.../vendor/linfo/linfo/src/Linfo/OS/Linux.php::getUptime()

[code]

[2020-12-09 19:36] jrgp commented on #117
Thanks for the fix. I wonder if there are any other old bugs lurking..

[2020-12-09 19:36] #117 closed

[2020-12-18 21:39] Saentist commented on #115
About speed of cpu can be added info about steps avalivable in CPU
ex:
[code]
values are in Hz
so
3600000/1000 = 3600MHz
or
3600000/1000000 =3.6GHz

am not shure how PowerTop collect this information
[code]

[2021-01-28 13:36] ilianiv commented on #117
Hi @jrgp,
Please release a new version with this fix.
linfo is still incompatible with PHP 8 due to this bug.

[2021-01-28 17:53] jrgp commented on #117
Hey, just released v4.0.6

[2021-01-29 07:40] ilianiv commented on #117
@jrgp maybe you've forgot to publish v4.0.6 in packagaist https://packagist.org/packages/linfo/linfo?
4.0.5 it the latest there.

[2021-01-30 01:53] jrgp commented on #117
Ah yeah that isn't done automatically yet. Will look into it.

[2021-01-30 01:54] jrgp commented on #117
v4.0.6 has been published

[2022-01-06 21:58] Neustradamus opened #120 "Migration to GitHub is not complete"
Dear @jrgp,

In first, I wish you a Happy New Year.

Can you add a "move" box like https://sourceforge.net/projects/handbrake for example.
- https://sourceforge.net/projects/linfo/

To disable/delete tabs, go here: https://sourceforge.net/projects/linfo/
To add a new tab, go here: https://sourceforge.net/projects/linfo/
To change informations, go here: https://sourceforge.net/p/linfo/admin/overvie

[2022-03-20 19:06] Saentist opened #123 "Wifi interfaces are show as Ethernet"
Wifi card show as Ethernet
![image](https://user-images.githubusercontent.com/16975883/159178422-02985c23-1453-4744-82bb-1d254ea67922.png)

[2022-05-24 15:28] jrgp commented on #82
Thanks for letting me know. I'll fix this later.

[2022-05-24 15:33] jrgp commented on #123
Interesting. I wonder how we can fix this.

[2022-05-24 21:38] Saentist commented on #123
Guess result ot iwconfig can help.

https://www.cyberciti.biz/faq/linux-list-network-cards-command/
https://www.2daygeek.com/linux-find-out-wireless-network-wifi-speed-signal-strength-quality/

[2022-05-27 08:32] icyz opened #125 "php 8.1 support"
hello, I'm trying to use Linfo on PHP 8.1 but there are some problems: the @-operator doesn't work anymore.

thanks, for that cool project! :-)

[2022-05-27 16:38] jrgp commented on #125
Thanks for letting me know! Glad you like the project

[2022-05-27 17:00] jrgp commented on #125
I just verified that linfo works out of the box on php 8.1.6 on Fedora 36 (with selinux off).

Can you please paste me the errors you're seeing?

[2022-05-27 17:21] icyz commented on #125
`Warning: disk_total_space(): Permission denied in /var/www/zerogestionale/trunk/zero/public/vendor/linfo/linfo/src/Linfo/OS/Linux.php on line 682 (error level: 2)
Warning: disk_free_space(): Permission denied in /var/www/zerogestionale/trunk/zero/public/vendor/linfo/linfo/src/Linfo/OS/Linux.php on line 683 (error level: 2)
Warning: disk_total_space(): Permission denied in /var/www/zerogestionale/

[2022-05-28 02:14] jrgp commented on #125
I just committed a check which should avoid those errors. Please confirm.

[2022-05-30 06:57] icyz commented on #125
Yes, mate!
I checked and it works like a charm :-)

[2022-05-30 15:22] #125 closed

[2022-06-13 10:34] SudosFTW commented on #123
A dirty way to do it would be an if-then of "if interface name starts with W, then define as Wireless instead of Ethernet." As, to my knowledge, most distros using both old style and predictable naming will still set a wireless interface name with a wl* at the front, be it wl(macaddresshere) or wl(port here) or wlan0, wlan1 etc.

Dropping it down to just w let's it over a broader reach past depend

[2022-06-13 20:38] Saentist commented on #123
This cannot be practical because lot of modern OS decide to name interface by port irq etc. not as in old time
eth0-x
wlan0-x
Now inserting new adapter chang name of lan interfaces

[code]

[2022-06-13 22:30] jrgp commented on #123
Ideally there is a file within /sys we can use to distinguish WiFi devices from Ethernet devices. (I haven't checked yet)

Going off of the Nic names alone is risky as they can be arbitrarily set.

[2022-06-14 01:18] #123 closed

[2022-06-14 06:32] Saentist commented on #123
![image](https://user-images.githubusercontent.com/16975883/173507771-5ac05155-5c15-467c-8688-a4a2a6d1a36c.png)

Isn't Bluetooth devices must be show also be in this section?

[2022-06-14 07:48] jrgp commented on #123
I'm not sure. Is your computer currently using network over Bluetooth?

When connecting a Linux machine to the network using Bluetooth tethering, I'm not sure what the network devices then look like.

If a Bluetooth dongle is present but not being used to connect to a network, I don't think it will appear as a network device.

[2022-06-14 08:23] Gemorroj commented on #123
@jrgp https://github.com/jrgp/linfo/blob/master/src/Linfo/OS/Linux.php#L986-L988 now we can delete this

[2022-06-14 17:54] Saentist commented on #123
I use bluetooth to collect data from bluetooth sensors to Home assistant.

[2022-06-15 07:01] jrgp commented on #123
Deleted

I'm not sure how this should be shown within Linfo as I'm unsure if those become network interfaces.

[2022-06-17 08:26] icyz commented on #125
did you plan to create a new release? I'm asking for people (like me) using composer :-)
thanks mate!

[2022-06-18 05:22] jrgp commented on #125
Released! https://github.com/jrgp/linfo/releases/tag/v4.0.7